.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.link:not(:last-child) {
    margin-right: 20px;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
    background-color: orange;
}

.link:hover,
.link:focus {
    background-color: orangered;
}

nav {
    display: flex;
}